body { background-color: #cdffbc;}
.todo {text-align: center;}
.sub {font-family:cursive; }
.titulo {font-family:cursive; }
.sub {font-size: 32px;}
.sub {text-decoration: underline;}
.titulo {text-decoration: underline;}
.sub {background-color: #fcf9ef}
.imagen1 {width: 400px; height: 300px}
.imagen2 {width: 400px; height: 300px}
.imagen3 {width: 400px; height: 300px}

.float{
 position: fixed;
 width: 60px;
 height: 60px;
 background-color: #25d366;
 bottom: 40px;
 right: 40px;
 color: #fff;
 border-radius: 50%;
 text-align: center;
 box-shadow: 2px 2px 3px #999;
 z-index: 999;

}

.fa-whatsapp{
  font-size: 60px;
}
.float:hover{
  background-color: #28e76e;
}
