body { background-color: #000000;}
.todo {text-align: center;}
.sub {font-family:cursive; }
.titulo {font-family:cursive; }
.sub {font-size: 33px;}
.sub {text-decoration: underline;}
.titulo {text-decoration: underline;}
.imagen1 {width: 400px; height: 300px}
.imagen2 {width: 400px; height: 300px}
.imagen3 {width: 400px; height: 300px}

.float{
 position: fixed;
 width: 80px;
 height: 80px;
 background-color: #25d366;
 bottom: 60px;
 right: 60px;
 color: #fff;
 border-radius: 50%;
 text-align: center;
 box-shadow: 2px 2px 3px #999;
 z-index: 999;

}

.fa-whatsapp{
  font-size: 80px;
}
.float:hover{
  background-color: #28e76e;
}



section{color: #EABE3F
}

header{color: #EABE3F;


}

.logo img{
  height: 155px
}

header{
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info {
  color: #EABE3F;
  font-size: 10px
}

footer{
  display: flex;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
