body { background-color: black;}
.sub {font-family:cursive; }
.titulo {font-family:cursive;
text-align: center;}
.sub {font-size: 33px;
text-align: center;}

.whatss {
  height: 80px;
  width: 80px
   position: fixed;
   bottom: 20px;
    right: 10px;
}

.ingre {
  text-align: center;
}

.proceso {
  text-align: center;

}


.sopa{
  text-align: center;
}

.sub {text-decoration: underline;}
.titulo {text-decoration: underline;}
.imagen1 {width: 30vw; height: 20vw}
.imagen2 {width: 30vw; height: 20vw;

}
.imagen3 {width: 30vw; height: 20vw}

.titulos {text-align: center;
color: #EABE3F}
.titulos {font-family: cursive;}
.titulos{font-size: 33px;}
.titulos{text-decoration: underline;}


@media (max-width: 990px) {

.logo { display: none;
}

}

@media (max-width: 990px) {

.imagen2 { display: none;
}

}




section{color: #EABE3F
}

header{color: #EABE3F;
}



.logo img{
  height: 155px
}
header{
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.martinn{
  font-size: 10px
}

footer{
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #EABE3F;

}

nav{
  display: flex;
  justify-content: space-around;
background-color: #EABE3f;
}

a:link {color: #000000}
a:visited {color: #000000}
a:hover{ font-size: 20px}
a:active {color: #ffffff}

.contactos{
  text-align: center;
}

.whatss {
  position:fixed;
  bottom: 20px;
  right: 10px;
}
